{% extends "base.html" %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
  <link href="{% static 'site/css/MDB-Pro/bootstrap.min.css' %}" rel="stylesheet" />
  <link href="{% static 'site/css/MDB-Pro/mdb.min.css' %}" rel="stylesheet" />
  <link href="{% static 'site/css/MDB-Pro/style.min.css' %}" rel="stylesheet" />
  <link href="{% static 'site/css/MDB-Pro/addons/fsscroller.min.css' %}" rel="stylesheet" />
  <style>
    .info {
      position: absolute; top: 0; left: 0; width: 100%;
      display: flex; flex-direction: column; align-items: center;
      justify-content: center; font-size: 32px;
    }
    textarea:focus {outline:none; resize: none;}
    textarea {resize:none;}
    button:focus {outline:none}
    .MuiBox-root {padding: 0px !important;}
  </style>
{% endblock styles %}

{% block content %}
{% csrf_token %}
<div id="navbar">
</div>

<div class="full-screen-scroller">
  <div class="fss-dotted-scrollspy custom-scrollspy">
    <button type="button" class="fss-nav-btn fss-mainview-prev">
      <i class="fas fa-chevron-up"></i>
    </button>
    <a href="#anchor-1" class="fss-nav-item active"></a>
    <a href="#anchor-2" class="fss-nav-item"></a>
    <button type="button" class="fss-nav-btn fss-mainview-next">
      <i class="fas fa-chevron-down"></i>
    </button>
  </div>

  <div fss-anchor="anchor-1" class="fss-mainview fss-active" style="background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div id="view-1" class="info">
    </div>
  </div>

  <div fss-anchor="anchor-2" class="fss-mainview" style="background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="fss-subview">
      <div fss-anchor="subview-a" class="fss-subview-item subview-a" style="background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <div id="view-2a">
          
        </div>
      </div>

      <div fss-anchor="subview-b" class="fss-subview-item fss-active" style="background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <div id="view-2b"></div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block scripts %}
<script type="text/javascript" src="{% static 'site/js/MDB-Pro/jquery-3.4.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'site/js/MDB-Pro/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'site/js/MDB-Pro/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'site/js/MDB-Pro/mdb.min.js' %}"></script>
<script type="text/javascript" src="{% static 'site/js/MDB-Pro/addons/mdb-fsscroller.min.js' %}"></script>

<script>
  $(document).ready(function () {
    var ell = $('#log-refresh-listener')[0];
    $(".full-screen-scroller").fullScreenScroller({
      afterChange: function() {
        var link = window.location.hash.substr(1);
        if (link == "subview-b") {
          ell.dispatchEvent(new CustomEvent('refreshlog', { bubbles: true }));
        }
      }
    });
  });
  
  let index_url = "{% url 'index' %}";
  let hash_url = "{% url 'hash_detail' slug="test" %}";
  let idx_title = "{{ name }}";
  let idx_desc = "{{ description }}";
  let idx_image = "{{ image }}";
<!--  let algo_names = {{ algorithm.all_name|safe }};-->
</script>
<script src="{% static 'core/index/index.js' %}"></script>
{% endblock scripts %}
