{% extends "base.html" %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
  <link href="{% static 'site/css/MDB-Pro/bootstrap.min.css' %}" rel="stylesheet" />
  <link href="{% static 'site/css/MDB-Pro/mdb.min.css' %}" rel="stylesheet" />
  <link href="{% static 'site/css/MDB-Pro/style.min.css' %}" rel="stylesheet" />
  <link href="{% static 'site/css/MDB-Pro/addons/fsscroller.min.css' %}" rel="stylesheet" />
  <style>
    body {
      background-color: #FFFFFF;
    }
    .info {
      position: absolute; top: 0; left: 0; width: 100%;
      display: flex; flex-direction: column; align-items: center;
      justify-content: center; font-size: 32px;
    }
    .custom-scrollspy {
      background-color: #212121f5;
    }
    textarea:focus {outline:none; resize: none;}
    textarea {resize:none;}
    .MuiFormHelperText-contained {
      margin-left: 0px !important;
    }
    form, table {
      display:inline;
      margin:0px;
      padding:0px;
    }
    button:focus {outline:none}
  </style>
{% endblock styles %}

{% block content %}
{% csrf_token %}
<div id="navbar">
</div>

<div class="full-screen-scroller">
  <div fss-anchor="anchor-1" class="fss-mainview fss-active" style="background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div id="view-1" class="info">
    </div>
  </div>

  <div fss-anchor="anchor-2" class="fss-mainview" style="background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div id="view-2" class="">
    </div>
  </div>

</div>
{% endblock content %}
{% block scripts %}
<script type="text/javascript" src="{% static 'site/js/MDB-Pro/jquery-3.4.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'site/js/MDB-Pro/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'site/js/MDB-Pro/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'site/js/MDB-Pro/mdb.min.js' %}"></script>
<script type="text/javascript" src="{% static 'site/js/MDB-Pro/addons/mdb-fsscroller.min.js' %}"></script>

<script>
    $(document).ready(function () {
      $(".full-screen-scroller").fullScreenScroller();
    });
    let index_url = "{% url 'index' %}";
    let hash_url = "{% url 'hash_detail' slug=algorithm.slug %}";
    let algo_slug = "{{ algorithm.slug }}";
    let algo_name = "{{ algorithm.name }}";
    let algo_subtitle = "{{ algorithm.subtitle }}";
    let algo_p1 = "{{ algorithm.paragraph1 }}";
    let algo_p2 = "{{ algorithm.paragraph2 }}";
    let algo_p3 = "{{ algorithm.paragraph3 }}";
    let algo_image = "/static/{{ algorithm.image }}";
    let algo_steps_header_tmp = "{{ algorithm.stepper_header }}";
    let algo_steps_desc_tmp = "{{ stepper_description }}";
</script>
<script src="{% static 'site/js/hash/processor.js' %}"></script>
<script src="{% static 'hash/sample/layout.js' %}"></script>
{% endblock scripts %}
